"*":
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "wpgtk-one-dark-ui"
      "wpgtk-theme-syntax"
    ]
  editor:
    fontSize: 12
  "exception-reporting":
    userId: ""
  welcome:
    showOnStartup: false
