* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome5Free, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

window#waybar.hidded {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background: transparent;
}
window#waybar.solo {
    background: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #75854f;
    border-bottom: 3px solid white;
}

#mode {
    background: #75854f;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
}

#clock {
    background-color: #75854f;
}

#battery {
    background-color: #75854f;
    color: white;
}

#battery.charging {
    color: white;
    background-color: #75854f;
}

@keyframes blink {
    to {
        background-color: #75854f;
        color: white;
    }
}

#battery.critical:not(.charging) {
    background: #75854f;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction : alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background: #75854f;
    color: white;
}

#memory {
    background: #75854f;
}

#backlight {
    background: #75854f;
}

#network {
    background: #75854f;
}

#network.disconnected {
    background: #dd7c7e;
}

#pulseaudio {
    background: #75854f;
    color: white;
}

#pulseaudio.muted {
    background: #75854f;
    color: white;
}

#custom-media {
    background: #75854f;
    color: white;
}

.custom-spotify {
    background: #75854f;
}

.custom-vlc {
    background: #75854f;
}

#temperature {
    background: #75854f;
}

#temperature.critical {
    background: #dd7c7e;
}


#custom-spotify {
    background: #75854f;
    color: white;
}

#custom-weather{
    background: #75854f;
    color: white;
}

#tray {
    background-color: #75854f;
}

#idle_inhibitor {
    background-color: #75854f;
}

#idle_inhibitor.activated {
    background-color: #75854f;
    color: white;
}

#mpd {
    background: #75854f;
    color: white;
}

#mpd.disconnected {
    background: #dd7c7e;
}

#mpd.stopped {
    background: #dd7c7e;
}

#mpd.paused {
    background: #e8d988;
}
